
<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Employee List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>gender</th>
            <th>comment</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees | async">
            <td>{{employee.firstName|capitalize}}</td>
            <td>{{employee.lastName|capitalize}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.gender|uppercase}}</td>
            <td>{{employee.comment}}</td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
