<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">

    
    <li class="nav-item">
      <a routerLink="employees" class="nav-link" routerLinkActive="active">Employee List</a>
    </li>
    
    <li class="nav-item">
        <a routerLink="create-employee" class="nav-link" routerLinkActive="active">Add Employee</a>
    </li>

    <li class="nav-item">
      <a routerLink="create-student" class="nav-link" routerLinkActive="active">student-details</a>
  </li>

  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>  
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>
